body{
    background-color: #424850;
}
*{font-family: 'Pirata One', cursive;
     }
     .basico{
        border: 2px solid rgb(0, 0, 8);
        border-radius: 2px;
        min-height: 27px;
        background-color: #010208;
    }
    #hr{
        color: #1a191925;
        background-color: #262a30;
    }
    
    
    .tabelagem{
        border: 3px solid transparent;
        margin: 10px;
        height: 1900px ;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        background-color: #242323;
        border-radius: 2px;
    }
    footer{
        background-color: #262a30;
        min-height: 430px;
        color: #eb0505cc;
        border-radius: 2px;
    }
    
    .pagina_onepiece{
        background-color: #33343d;
        color: #000;
        font-size: 20px;
        border: 2px solid transparent;
        padding: 10px;
        margin: 4px;
        flex-direction: row;
        width: 30%;
    }
    .pagina_onepiece:hover{
        border-radius: 5px;
        background-color: #eff2f34d;
        transform: scale(1.05);
    }
    .pagina_dragonball{
        background-color: #33343d;
        color: #000;
        font-size: 20px;
        border: 2px solid transparent;
        padding: 10px;
        margin: 4px;
        flex-direction: row;
        width: 30%
    }
    .pagina_dragonball:hover{
        border-radius: 5px;
        background-color: #eff2f34d;
        transform: scale(1.05);
    }
    .pagina_berserk{
        background-color: #33343d;
        color: #000;
        font-size: 20px;
        border: 2px solid transparent;
        padding: 10px;
        margin: 4px;
        flex-direction: row;
        width: 30%
    }
    .pagina_berserk:hover{
        border-radius: 5px;
        background-color: #eff2f34d;
        transform: scale(1.05);
    }
    .pagina_nanatsu{
        background-color: #33343d;
        color: #000;
        font-size: 20px;
        border: 2px solid transparent;
        padding: 10px;
        margin: 4px;
        flex-direction: row;
        width: 30%
    }
    .pagina_nanatsu:hover{
        border-radius: 5px;
        background-color: #eff2f34d;
        transform: scale(1.05);
    }
    .imagem_dbz{
        border: 1px solid transparent;
        border-radius: 8px;
    }
    .imagem_onepiece{
        border: 1px solid transparent;
        border-radius: 8px;
    
    }
    .imagem_berserk{
        border: 1px solid transparent;
        border-radius: 8px;
    
    }
    .imagem_nanatsu{
        border: 1px solid transparent;
        border-radius: 8px;
    
    }
