table{
    border-collapse: collapse;
    margin: 50px;
    padding: 70px;
    width: 60%;
}
tr{
    border: 1px solid #dddddd;
    text-align: center;
}
td{
    
    text-align: center; 
}
.tabela{
    border: 1px solid #dddddd;
    flex-direction: column;
    font-family: arial;
    font-size: 18px;
    margin: 50px;
    padding: 25px;
    
}
.times{
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 17px;
    margin: 50px;
}
.um{
    color: #003366;
}
.dois{
    color: #003366;
}
.tres{
    color: #003366;
}
.quatro{
    color: #1398be;
}
.cinco{
    color: #DE9800;
}
.seis{
    color: #DE9800;
}
.sete{
    color: #DE9800;
}
.oito{
    color: #DE9800;
}
.nove{
    color: #DE9800;
}
.dez{
    color: #DE9800;
}
.onze{
    color: #DE9800;
}
.doze{
    color: #DE9800;
}
.treze{
    color: #CCCCCC;
}
.catorze{
    color: #CCCCCC;
}.quinze{
    color: #CCCCCC;
}.dezesseis{
    color: #CCCCCC;
}
.dezesete{
    color: #C91B04;
}
.dezoito{
    color: #C91B04;
}
.dezenove{
    color: #C91B04;
}
.vinte{
    color: #C91B04;
}

.valoresP{
    color: #666666;
    background-color: #F7F7F7;
    align-items: center;
    
}
.valoresJ{
    color: #666666;
    background-color: #F7F7F7;
    align-items: center;
    padding: 7px;
}
.valoresV{
    color: #666666;
    background-color: #F7F7F7;
    align-items: center;
    padding: 7px;
}
.valoresE{
    color: #666666;
    background-color: #F7F7F7;
    align-items: center;
    padding: 7px;
} 
.valoresD{
    color: #666666;
    background-color: #F7F7F7;
    align-items: center;
    padding: 7px;
}
.valoresGP{
    color: #666666;
    background-color: #F7F7F7;
    align-items: center;
    
}
.valoresGC{
    color: #666666;
    background-color: #F7F7F7;
    align-items: center;
    
}
.valoresSG{
    color: #666666;
    background-color: #F7F7F7;
    align-items: center;
    
}
.valoresCENTO{
    color: #666666;
    background-color: #F7F7F7;
    align-items: center;
    
}
.divisõesum{
    background-color: rgb(214, 214, 214);
    color: #666666;
}
.divisóesud{
    background-color: rgb(214, 214, 214);
    color: #000;
}
.divisõesdois{
    color: #666666;
}
.border{
    border: 2px solid #CCCCCC;
}
.rodapéum{
    border: 2px solid #dddddd;
    font-size: 10px;
    color: #8f8f8f;
    text-align: left;
    
}
.tabeladois{
    border: 1px solid #dddddd;
    flex-direction: column;
    font-family: arial;
    font-size: 18px;
    margin: 50px;
    padding: 25px;
    text-align: left;
}
#cor{
    background: #003366;
    width: 10px;
    height: 10px;
}
.cor2{
    border: 3px solid #ffffff;
    color: #1398be;
    margin: 10px;
}
.fonte{
    font-size: 15px;
    text-align: left;
}